.side-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.side-nav:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.side-nav--visible .side-nav__container {
    transform: translateX(0);
}

.side-nav__container {
    display: inline-block;
    height: 100vh;
    width: 50%;
    background: white;
    box-shadow: 2px 0 7px rgba(0, 0, 0, 0.8);
    transform: translateX(-102%);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
    will-change: transform;
}

.side-nav--top {
    border-bottom: 1px solid;
}

.side-nav__item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-transform: uppercase;
    font-size: .8rem;
}

.side-nav__header {
    font-weight: bold;
}

.side-nav__item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-transform: uppercase;
    font-size: .8rem;
}

.side-nav__close {
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(/0a0842046a251ac2abceacc891b9815f.svg);
}
